In [1]:
import numpy as np
import pandas as pd
import gdown

In [3]:
gdown.download('https://bit.ly/3736JW1', 'data/ns_book.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /Users/woojinchoe/Desktop/Study/Personal/Data_Scientist/hongong/chapter_04/data/ns_book.csv
100%|██████████| 55.0M/55.0M [00:20<00:00, 2.62MB/s]

'data/ns_book.csv'

In [4]:
ns_book = pd.read_csv("data/ns_book.csv", low_memory=False)
ns_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379971,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001.0,9788942340262,9788942300365,NaN,3,809.3,1,0,1970-01-01
379972,401677,큰오빠,박정근 지음,우리문학사,1998.0,9788974231323,9788974231309,NaN,2,813.6,2,0,1970-01-01
379973,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996.0,9788977352971,9788977352988,NaN,3,811.608,1,0,1970-01-01
379974,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996.0,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
379975,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995.0,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [5]:
ns_book.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [6]:
sum(ns_book['도서권수'] == 0)

3206

In [7]:
ns_book1 = ns_book[ns_book['도서권수']>0]
ns_book1

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379971,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001.0,9788942340262,9788942300365,NaN,3,809.3,1,0,1970-01-01
379972,401677,큰오빠,박정근 지음,우리문학사,1998.0,9788974231323,9788974231309,NaN,2,813.6,2,0,1970-01-01
379973,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996.0,9788977352971,9788977352988,NaN,3,811.608,1,0,1970-01-01
379974,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996.0,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
379975,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995.0,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [8]:
ns_book1.describe(percentiles=[0.3, 0.6, 0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [9]:
ns_book1.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [10]:
x = [10, 20 ,30]
sum = 0

for i in range(3):
    sum += x[i]
print("평균:", sum/len(x))

평균: 20.0

In [13]:
ns_book1['대출건수'].median()

np.float64(6.0)

In [14]:
ns_book1['대출건수'].drop_duplicates().median()

np.float64(183.0)

In [17]:
ns_book1['대출건수'].quantile([0.25, 0.5, 0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [19]:
sample = pd.Series([1, 2, 3, 4, 5])

print(sample.quantile(0.9, interpolation='linear'))
print(sample.quantile(0.9, interpolation='midpoint'))
print(sample.quantile(0.9, interpolation='nearest'))
print(sample.quantile(0.9, interpolation='lower'))
print(sample.quantile(0.9, interpolation='higher'))

4.6
4.5
5
4
5

In [21]:
borrow_10_flag = ns_book1['대출건수'] < 10

borrow_10_flag.mean()

np.float64(0.6402712530190833)

In [22]:
ns_book1['대출건수'].quantile(0.65)

np.float64(10.0)

In [23]:
ns_book1['대출건수'].var()

np.float64(371.69563042906674)

In [24]:
ns_book1['대출건수'].std()

np.float64(19.279409493785508)

In [26]:
ns_book1['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [27]:
ns_book1['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

In [28]:
ns_book1.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [30]:
ns_book1.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [31]:
ns_book1.to_csv('data/ns_book1.csv', index=False)

In [32]:
np.mean(ns_book1['대출건수'])

np.float64(11.593438968070707)

In [33]:
np.average(ns_book1['대출건수'], weights=1/ns_book1['도서권수'])

np.float64(10.543612175385386)

In [34]:
np.mean(ns_book1['대출건수']/ns_book1['도서권수'])

np.float64(9.873029861445774)

In [35]:
ns_book1['대출건수'].sum()/ns_book1['도서권수'].sum()

np.float64(10.120503701300958)

In [38]:
# unique() 함수를 호출해서 고유한 값(values)와 등장 횟수(counts) 배열을 획득
values, counts = np.unique(ns_book1['도서명'], return_counts=True)

# counts 배열에서 가장 큰 값의 인덱스 탐색
max_idx = np.argmax(counts)

# values 배열에서 해당 인덱스 값을 출력
values[max_idx]

'승정원일기'

+ # pandas    
    + ## describe()
        ```python
        df.describe()                               # 기술 통계 자동 추출
        df.describe(percentiles=[0.3, 0.6, 0.9])    # 원하는 위치의 값 출력
        df.describe(include='objcet')               # 문자열 데이터 타입만 출력
        df.describe(include='all')                  # 전체 데이터 타입 출력
        ```
    + ## various_function
        ```python
        df['column'].mean()         # 평균
        df['column'].median()       # 중간값
        df['column'].min()          # 최솟값
        df['column'].max()          # 최댓값
        df['column'].var(ddof=1)    # 분산, ddof=0(default)
        df['column'].std()          # 표준편차
        df['column'].mode()         # 최빈값
        ```
    + ## quantile
        ```python
        sample = pd.Series([1, 2, 3, 4, 5])

        print(sample.quantile(0.9, interpolation='linear'))     # 4.6 (default)
        print(sample.quantile(0.9, interpolation='midpoint'))   # 4.5
        print(sample.quantile(0.9, interpolation='nearest'))    # 5
        print(sample.quantile(0.9, interpolation='lower'))      # 4
        print(sample.quantile(0.9, interpolation='higher'))     # 5
        ```
+ # numpy
    + ## various_function
        ```python
        np.quantile(df['column', [0.25, 0.5, 0.75]])    # 분위수
        np.mean(df['column'])                           # 평균
        np.average(df['column'], weights=)              # weight(가중치)를 적용한 평균
        np.median(df['column'])                         # 중간값
        np.min(df['column'])                            # 최솟값
        np.max(df['column'])                            # 최댓값
        np.var(df['column'], ddof=1)                    # 분산, ddof=0(default)
        np.std(df['column'])                            # 표준편차
        -------------------------------------------------------------------------------------
        # unique() 함수를 호출해서 고유한 값(values)와 등장 횟수(counts) 배열을 획득
        values, counts = np.unique(df['column'], return_counts=True)

        # counts 배열에서 가장 큰 값의 인덱스 탐색
        max_idx = np.argmax(counts)

        # values 배열에서 해당 인덱스 값을 출력
        values[max_idx]
        ```