In [1]:
import numpy as np
import pandas as pd

In [2]:
order_df = pd.read_csv("data/order.csv")
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
1,NaN,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-01-04 09:47:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [3]:
order_df.dtypes

order_time                      object
category                        object
product_name                    object
price                          float64
quantity                         int64
sales                          float64
days_for_shipping(expected)      int64
shipping_time                   object
dtype: object

In [4]:
order_df['order_time'] = pd.to_datetime(order_df['order_time'])

In [5]:
order_df['shipping_time'] = pd.to_datetime(order_df['shipping_time'])

In [6]:
order_df.dtypes

order_time                     datetime64[ns]
category                               object
product_name                           object
price                                 float64
quantity                                int64
sales                                 float64
days_for_shipping(expected)             int64
shipping_time                  datetime64[ns]
dtype: object

In [7]:
order_df = order_df.dropna()

In [8]:
order_df['order_time'].dt.date

0        2015-01-01
2        2015-01-01
3        2015-01-01
4        2015-01-01
5        2015-01-01
            ...
18045    2018-01-31
18046    2018-01-31
18047    2018-01-31
18048    2018-01-31
18049    2018-01-31
Name: order_time, Length: 18049, dtype: object

In [9]:
order_df['order_time'].dt.year

0        2015
2        2015
3        2015
4        2015
5        2015
         ...
18045    2018
18046    2018
18047    2018
18048    2018
18049    2018
Name: order_time, Length: 18049, dtype: int32

In [10]:
order_df = order_df.set_index('order_time').sort_index()
order_df

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00
2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
2018-01-31 18:44:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 18:53:00
2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00

In [11]:
order_df.loc['2015']

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2015-12-31 16:18:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,1,50.00,6,2016-01-04 17:07:00
2015-12-31 18:45:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,5,250.00,4,2016-01-06 11:14:00
2015-12-31 19:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,3,149.94,6,2016-01-03 14:51:00
2015-12-31 20:51:00,Shop By Sport,Under Armour Girls' Toddler Spine Surge Runni,39.99,4,159.96,6,2016-01-02 12:18:00
2015-12-31 22:36:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2016-01-02 13:46:00

In [12]:
order_df.loc['2015':'2017']

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
order_time,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00
...,...,...,...,...,...,...,...
2017-12-31 09:51:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-02 20:35:00
2017-12-31 10:33:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 18:24:00
2017-12-31 12:18:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 14:33:00
2017-12-31 14:03:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-04 17:07:00
2017-12-31 20:00:00,DVDs,DVDs,164.38,1,164.38,6,2018-01-06 14:40:00

In [13]:
order_df['shipping_time'] - order_df.index

order_time
2015-01-01 02:27:00   4 days 10:48:00
2015-01-01 03:51:00   3 days 16:15:00
2015-01-01 04:33:00   5 days 13:28:00
2015-01-01 04:54:00   6 days 14:13:00
2015-01-01 07:42:00   4 days 09:23:00
                            ...
2018-01-31 12:26:00   3 days 06:32:00
2018-01-31 16:59:00   6 days 03:33:00
2018-01-31 17:20:00   1 days 16:56:00
2018-01-31 18:44:00   6 days 00:09:00
2018-01-31 21:53:00   1 days 20:57:00
Length: 18049, dtype: timedelta64[ns]

In [14]:
order_df['days_of_shipping(actual)'] = order_df['shipping_time'] - order_df.index

In [15]:
order_df.dtypes

category                                object
product_name                            object
price                                  float64
quantity                                 int64
sales                                  float64
days_for_shipping(expected)              int64
shipping_time                   datetime64[ns]
days_of_shipping(actual)       timedelta64[ns]
dtype: object

In [16]:
order_df['days_of_shipping(expected)'] = pd.to_timedelta(order_df['days_for_shipping(expected)'], unit='D')

In [18]:
order_df['late_shipping'] = order_df['days_of_shipping(expected)'] < order_df['days_of_shipping(actual)']

In [19]:
order_df

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time,days_of_shipping(actual),days_of_shipping(expected),late_shipping
order_time,,,,,,,,,,
2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00,4 days 10:48:00,6 days,False
2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00,3 days 16:15:00,6 days,False
2015-01-01 04:33:00,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,399.98,1,399.98,6,2015-01-06 18:01:00,5 days 13:28:00,6 days,False
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00,6 days 14:13:00,6 days,True
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00,4 days 09:23:00,4 days,True
...,...,...,...,...,...,...,...,...,...,...
2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00,3 days 06:32:00,6 days,False
2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00,6 days 03:33:00,6 days,True
2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00,1 days 16:56:00,6 days,False
2018-01-31 18:44:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 18:53:00,6 days 00:09:00,6 days,True
2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00,1 days 20:57:00,3 days,False

In [20]:
order_df[order_df['late_shipping']]

,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time,days_of_shipping(actual),days_of_shipping(expected),late_shipping
order_time,,,,,,,,,,
2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00,6 days 14:13:00,6 days,True
2015-01-01 07:42:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,4,2015-01-05 17:05:00,4 days 09:23:00,4 days,True
2015-01-01 08:03:00,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,4,2015-01-06 12:32:00,5 days 04:29:00,4 days,True
2015-01-01 12:57:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,4,200.00,4,2015-01-05 15:14:00,4 days 02:17:00,4 days,True
2015-01-02 05:04:00,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,50.00,4,200.00,4,2015-01-07 12:48:00,5 days 07:44:00,4 days,True
...,...,...,...,...,...,...,...,...,...,...
2018-01-28 20:40:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-03 09:15:00,5 days 12:35:00,4 days,True
2018-01-29 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-04 16:17:00,6 days 03:51:00,4 days,True
2018-01-29 14:11:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-04 20:04:00,6 days 05:53:00,6 days,True
2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00,6 days 03:33:00,6 days,True
2018-01-31 18:44:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 18:53:00,6 days 00:09:00,6 days,True